.contacts-ps {
  overflow: hidden;
  display: none;
  padding-bottom: 55px;
  @media screen and (min-width: 1100px) {
    display: block;
  }
  .title {
    .text {
      height: 148px;
      background-color: $yellow;
      position: relative;
      font-size: 48px;
      font-weight: 600;
      padding-left: 100px;
      display: flex;
      align-items: center;
    }
    .image {
      width: 480px;
      height: 555px;
      position: absolute;
      top: 0;
      right: 0;
      img {
        display: block;
      }
      .dots {
        position: absolute;
        height: 145px;
        width: 1000px;
        left: 100%;
        top: calc(50% - 72px);
        background-repeat: repeat-x;
      }
    }
  }
  .contacts-block {
    max-width: 640px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 22px;
    padding-left: 100px;
    box-sizing: border-box;
    .btn {
      width: 380px;
      height: 52px;
      margin-top: 20px;
    }
  }
  .numbers {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    img {
      position: relative;
      top: 4px;
      left: 5px;
    }
  }
  .adress {
    margin-bottom: 30px;
  }
  .license {
    font-weight: 300;
  }
}
