.facts {
  overflow: hidden;
  .title {
    font-size: 28px;
    font-weight: 600;
    padding-top: 35px;
    padding-left: 10px;
    color: #312e2a;
    @media screen and (min-width: 800px) {
      font-size: 48px;
    }
  }
  .container {
    padding: 18px 0 0;
    position: relative;
    @media screen and (min-width: 800px) {
      padding: 40px 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (min-width: 1100px) {
      width: 788px;
    }
  }
  .item {
    font-size: 18px;
    line-height: 24px;
    color: #312e2a;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 10px;
    span {
      font-size: 30px;
      font-weight: 700;
      color: $yellow;
    }
    @media screen and (min-width: 800px) {
      width: 50%;
      margin-bottom: 25px;
      padding-right: 25px;
      span {
        font-size: 48px;
      }
      &.last {
        width: 425px;
        box-sizing: border-box;
      }
    }
  }
  .image {
    width: 1000px;
    text-align: center;
    margin-left: calc((1000px - 100%) / 2 * -1);
    z-index: 2;
    @media screen and (min-width: 1100px) {
      left: calc(100% - 18px);
      position: absolute;
      bottom: 0;
      width: 500px;
      img {
        display: block;
      }
    }
  }
  .bottom-text {
    line-height: 20px;
    background-color: $yellow;
    padding: 50px 10px 10px;
    color: #fff;
    margin-top: -60px;
    padding-bottom: 40px;
    @media screen and (min-width: 800px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1100px) {
      margin-top: 0;
      padding-right: 125px;
    }
  }
}
