footer.footer {
  background-color: $yellow;
  overflow: hidden;
  .container {
    padding-top: 85px;
    padding-left: 18px;
    padding-bottom: 25px;
    box-sizing: border-box;
    @media screen and (min-width: 1000px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 157px;
      padding: 0 10px;
    }
  }
  .logo {
    position: relative;
    width: 191px;
    img {
    }
    .dots {
      position: absolute;
      height: 50px;
      width: 1000px;
      left: 100%;
      top: 5px;
      background-repeat: repeat-x;
      @media screen and (min-width: 1000px) {
        display: none;
      }
    }
  }
  .text {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    @media screen and (min-width: 1000px) {
      color: #000;
    }
  }
  .phone {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    @media screen and (min-width: 1000px) {
      font-size: 18px;
      padding: 0;
    }
  }
}
