.trust-mobile {
  position: relative;
  padding-bottom: 40px;
  @media screen and (min-width: 1100px) {
    display: none;
  }
  .title {
    background-color: $yellow;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 135px;
    position: relative;
    padding: 30px 10px 175px;
    img {
      position: absolute;
      bottom: -128px;
      right: calc((100% - 300px) / 2);
    }
  }
  .block {
    @media screen and (min-width: 650px) {
      padding: 0 12px 0 13px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
    img {
      margin-right: 20px;
    }
  }
  .text {
    color: #312e2a;
    line-height: 20px;
    max-width: 218px;
  }
  .btn {
    width: 298px;
    height: 52px;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 149px);
  }
}
